:root {
  --brown: #f7d0aa;
  --dark-brown: #665748;
  --white: #efefef;
  --black: #2b2b2b;
  --primary: var(--white);
  --secondary: var(--white);
  --negative: var(--white);
  --positive: var(--white);
  --large-logo-size: 4em;
  --small-logo-size: 2.3em;
  --large-logo-left: 1.7em;
  --small-logo-left: 0.57em;
  --large-logo-top: 3em;
  --small-logo-top: 1em;
  --logo-size: var(--large-logo-size);
  --logo-left: var(--large-logo-left);
  --logo-top: var(--large-logo-top);
  --large-global-gap: 7em;
  --small-global-gap: 3.4em;
  --global-gap: var(--large-global-gap);  
  --side-gap: var(--global-gap);
  --grad-color-start: rgba(247, 208, 170, 0);
  --grad-color-end: rgba(247, 208, 170, 1);
  --grad-percent-start: 50%;
  --grad-percent-end: 97%;
  --title-margin-top: 3.42em;
  --title-margin-left: 7em;
  --border-width: 0.1em;
  --control-button-size: 3.25em;
  --control-button-open-transition: 0.27s cubic-bezier(0.61, 0.1, 0.58, 0.98);
  --color-transition: 1s cubic-bezier(0.3, 0, 0.2, 1);
  --separator-transition: 1s cubic-bezier(0.3, 0.6, 0.2, 1);
  --gap-transition-base: 0.2s cubic-bezier(0, 0.4, 0.4, 1);
  --gap-transition-delay: 0.2s cubic-bezier(0, 0.4, 0.4, 1) 0.65s;
  --gap-transition: var(--gap-transition-base);
  --menu-button-margin: 1em;
  --step-size: 1.4em;
  --small-description-margin: 0;
  --large-description-margin: -1.7em;
  --description-margin: var(--small-description-margin);
  --logo-mobile-top-small: 0.46em;
  --logo-mobile-top-large: 1.45em;
  --logo-mobile-top: var(--logo-mobile-top-large);
  --selectable: auto;
}
canvas{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}
div, span {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: var(--selectable);
}
@font-face {
  font-family: "NeueHaasBold";
  src: url("../font/NeueHaasGroteskText75Bold.woff") format("woff"),
    url("../font/NeueHaasGroteskText75Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasRoman";
  src: url("../font/NeueHaasGroteskText55Roman.woff") format("woff"),
    url("../font/NeueHaasGroteskText55Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasLight";
  src: url("../font/NeueHaasGroteskText35Light.woff") format("woff"),
    url("../font/NeueHaasGroteskText35Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-size: 15px;
  font-family: "NeueHaasRoman";
  background-color: var(--negative);
  color: var(--secondary);
  overflow: hidden;
  transition: background-color var(--color-transition),
    color var(--color-transition);
}
body {
  /* body size is controlled by javascript */
  top: 0;
  left: 0;
  position: fixed;
}
#cover {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--primary);
  width: 100%;
  height: 100%;
  display: none;
}

#logo {
  position: absolute;
  left: var(--logo-left);
  top: var(--logo-top);
  width: var(--logo-size);
  height: var(--logo-size);
  mask-image: url(../img/logo.png);
  -webkit-mask-image: url(../img/logo.png);
  mask-size: var(--logo-size) var(--logo-size);
  -webkit-mask-size: var(--logo-size) var(--logo-size);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--secondary);
  cursor: pointer;
  transition: background-color var(--color-transition), 
    left var(--gap-transition),
    top var(--gap-transition),
    width var(--gap-transition),
    height var(--gap-transition),
    mask-size var(--gap-transition),
    -webkit-mask-size var(--gap-transition);
}

#content-wrapper {
  --left-gap: var(--side-gap);
  --right-gap: var(--side-gap);
  --top-gap: var(--global-gap);
  --bottom-gap: var(--global-gap);
  --shadow: 0px 0px 17px -11px rgb(0 0 0) inset;
  position: absolute;
  display: block;
  left: var(--left-gap);
  top: var(--top-gap);
  width: calc(100% - var(--left-gap) - var(--right-gap));
  height: calc(100% - var(--top-gap) - var(--bottom-gap));
  /* background-color: #372e25; */
  background-color: var(--positive);
  transition: background-color var(--color-transition), 
    left var(--gap-transition),
    top var(--gap-transition),
    width var(--gap-transition),
    height var(--gap-transition)
    ;
}
#darken {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);
}
#art-description {
  position: absolute;
  bottom: 1em;
  left: var(--side-gap);
  width: calc(100% - var(--side-gap) - var(--side-gap));
  height: 5.1em;
  margin-bottom: var(--description-margin);
  transition: margin-bottom var(--gap-transition),
    left var(--gap-transition),
    width var(--gap-transition);
}

#art-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#art-title {
  text-align: right;
  padding-right: var(--border-width);
}
#art-details {
  margin-top: 0.9em;
  font-size: 0.87em;
  text-align: right;
  padding-right: var(--border-width);
}
#info-button {
  position: absolute;
  right: 0;
  bottom: 0em;
  opacity: 0;
  transition: opacity var(--color-transition), 
    color var(--color-transition),
    border-color var(--color-transition),
    background-color var(--color-transition);
}
#arrows {
  position: absolute;
  left: var(--border-width);
  top: 0;
  height: 100%;
  display: flex;
  opacity: 0;
  transition: opacity var(--color-transition);
}
.arrow {
  /* --arrow-size: 1.54em; */
  --arrow-size: 1em;
  --enter-margin: 0;
  width: var(--arrow-size);
  height: var(--arrow-size);
  mask-image: url(../img/arrow.png);
  -webkit-mask-image: url(../img/arrow.png);
  mask-size: var(--arrow-size) var(--arrow-size);
  -webkit-mask-size: var(--arrow-size) var(--arrow-size);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: var(--secondary);
  margin-left: var(--enter-margin);
  cursor: pointer;
  transition: background-color var(--color-transition);
}
.flipped {
  --enter-margin: 0;
  transform: rotate(180deg);
  margin-left: unset;
  margin-right: var(--enter-margin);
}

.menu-button {
  margin-bottom: var(--menu-button-margin);
  width: calc(
    100% - 2 * var(--padding-big) - 2 * var(--border-width)
  ) !important;
  display: flex;
}
.button-icon {
  margin-left: auto;
}
.button-text {
  margin-right: 4em;
}
#fullscreen-button {
}
#count {
  width: 5em;
  text-align: center;
  font-size: 0.923em;
  margin-top: 0.05em;
}
.text-button {
  --padding: 0.3em;
  --padding-big: 0.64em;
  font-size: 0.87em;
  color: var(--negative);
  padding: var(--padding);
  padding-left: var(--padding-big);
  padding-right: var(--padding-big);
  background-color: var(--secondary);
  width: min-content;
  text-align: left;
  line-height: 1.3;
  cursor: pointer;
  user-select: none;
  border: var(--border-width) solid var(--negative);
  overflow: hidden;
  transition: color var(--color-transition),
    border-color var(--color-transition),
    background-color var(--color-transition);
}
.inverse-button {
  background-color: var(--primary);
  border-color: var(--secondary);
  color: var(--secondary);
  transition: color var(--color-transition),
    border-color var(--color-transition),
    background-color var(--color-transition);
}
.transparent-button {
  background-color: transparent;
}
.corner-cut {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(51%, -70%) rotate(30deg);
  background-color: var(--negative);
}
/* #art-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(
    top,
    var(--grad-color-start) var(--grad-percent-start),
    var(--grad-color-end) var(--grad-percent-end),
    var(--grad-color-end) var(--grad-percent-end)
  );
  background: -webkit-linear-gradient(
    top,
    var(--grad-color-start) var(--grad-percent-start),
    var(--grad-color-end) var(--grad-percent-end),
    var(--grad-color-end) var(--grad-percent-end)
  );
  background: linear-gradient(
    to bottom,
    var(--grad-color-start) var(--grad-percent-start),
    var(--grad-color-end) var(--grad-percent-end),
    var(--grad-color-end) var(--grad-percent-end)
  );
} */
#control {
  position: absolute;
  top: 0;
  right: 0;
}
#control-button {
  position: relative;
  width: var(--control-button-size);
  height: var(--control-button-size);
}
#control-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}
#control-panel-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary);
  transform-origin: 100% 100%;
  transition: background-color var(--color-transition);
  pointer-events: all;
}
#control-content {
  position: relative;
  width: 100%;
  height: 100%;
}
#control-button-arrow {
  --width: 0.83em;
  --gap: 0.61em;
  position: absolute;
  width: var(--width);
  height: var(--width);
  top: var(--gap);
  right: var(--gap);
  pointer-events: none;
  transform-origin: 80% 20%;
}

#control-button-arrow polygon {
  fill: var(--negative);
  transition: fill var(--color-transition);
}
#interactions {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--control-button-size);
  justify-content: flex-end;
  align-items: flex-end;
}
.control-title {
  color: var(--primary);
  text-align: left;
  width: 100%;
  line-height: 1.5em;
  border-bottom: var(--border-width) solid var(--primary);
  margin-bottom: 0.8em;
  margin-top: 0.6em;
  transition: border-color var(--color-transition),
    color var(--color-transition);
}
.no-margin {
  margin-top: 0 !important;
}
.value {
  display: flex;
  color: var(--primary);
  align-items: center;
  width: 100%;
  margin-bottom: var(--menu-button-margin);
  justify-content: flex-end;
  transition: color var(--color-transition);
}
.value-title {
  margin-right: auto;
  padding-left: var(--border-width);
}
.value-value {
  width: 2.4em;
  text-align: center;
}
#menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: var(--control-button-size);
  height: var(--control-button-size);
}
.break-lines {
  flex-wrap: wrap;
}
.list {
  display: flex;
  opacity: 0;
  transition: opacity var(--color-transition);
}
.list div,
.list span {
  white-space: nowrap;
}
.button-list div {
  cursor: pointer;
  user-select: none;
  margin-bottom: 0.56em;
}
.list-left {
  justify-content: flex-start;
}
.list-right {
  justify-content: flex-end;
}
.open {
  opacity: 1 !important;
}
#main-menu {
  position: absolute;
  top: var(--title-margin-top);
  left: var(--title-margin-left);
  margin-right: 4em;
}
.bold {
  font-family: "NeueHaasBold";
}
.large-text {
  font-size: 1em;
}
.separator {
  --gap: 0.1em;
  margin-left: var(--gap);
  margin-right: var(--gap);
  transition: margin var(--separator-transition);
}
.open .separator {
  --gap: 0.8em;
  margin-left: var(--gap);
  margin-right: var(--gap);
  transition: margin var(--color-transition);
}
#popup {
  position: relative;
  width: 100%;
  height: 100%;
}
#iframe-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: var(--shadow);
  -webkit-box-shadow: var(--shadow);
  -moz-box-shadow: var(--shadow);
}

/*  begin folding css */

.folding {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  transform: rotateZ(45deg);
}
.folding .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  transform: scale(1.1);
}

.folding .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  transform-origin: 100% 100%;
}

.folding .sk-cube2 {
  transform: scale(1.1) rotateZ(90deg);
}

.folding .sk-cube3 {
  transform: scale(1.1) rotateZ(180deg);
}

.folding .sk-cube4 {
  transform: scale(1.1) rotateZ(270deg);
}

.folding .sk-cube2:before {
  animation-delay: 0.3s;
}

.folding .sk-cube3:before {
  animation-delay: 0.6s;
}

.folding .sk-cube4:before {
  animation-delay: 0.9s;
}

@keyframes sk-foldCubeAngle {
  0%,
  10% {
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%,
  75% {
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%,
  100% {
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-button {
  position: absolute;
  margin-left: 50%;
  transform: translate(-50%, -49.5%);
  opacity: 0;
  font-size: 1.16em;
  transition: opacity var(--color-transition);
}
#display {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/*

    Stepper

*/

#stepper {
  position: absolute;
  top: 4.64em;
  right: calc(var(--side-gap) - 0.54em);
  display: flex;
  justify-content: flex-end;
}
.step {
  width: var(--step-size);
  height: var(--step-size);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  width: 4px;
  height: 4px;
  background-color: var(--primary);
  transition: background-color var(--color-transition);
}
.active .dot{
  background-color: var(--secondary) !important;
}

/*

    RESPONSIVE

*/

@media screen and (max-width: 1000px) {
  :root {
    --side-gap: 1em;
    --title-margin-top: 1.86em;
    --title-margin-left: 6.76em;
  }
  body,
  html {
    font-size: 13px;
  }
  #logo {
    left: 0.5em;
    top: var(--logo-mobile-top);
  }
  #main-menu {
    left: 6.6em;
    top: 1.86em;
  }
  #stepper {
    top: 4.18em;
  }
}
@media screen and (max-width: 600px) {
  #arrows {
    top: unset;
    bottom: 0.35em;
    height: auto;
  }
}
